<div *ngIf="selectedCategorie">
  <h2>{{ selectedCategorie.name | uppercase }} Details</h2>
  <div><span>#: </span>{{ selectedCategorie.items.length }}</div>
  <div>
    <label for="categorie-name">Categorie name: </label>
    <input
      id="categorie-name"
      [(ngModel)]="selectedCategorie.name"
      placeholder="name"
    />
  </div>
</div>

<h2>My Categories</h2>
<ul class="categories">
  <li
    *ngFor="let categorie of categories"
    [class.selected]="categorie === selectedCategorie"
    (click)="onSelect(categorie)"
  >
    <span class="badge">{{ categorie.items.length }}</span> {{ categorie.name }}
  </li>
</ul>
